variable "project" {
    default = "{your-project-id}"
}

variable "region" {
    default = "asia-southeast1"
}

variable "zone" {
    default = "asia-southeast1-a"
}

variable "email" {
    default = "{your-email}"
}